* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  background-color: #333;
}

.container {
  display: flex;
  align-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 120px auto;
  background-color: #555;
}

/* card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 23%;
  margin: 1%;
  padding: 0 0 10px;
  min-height: 300px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  background-color: #fff;
}

.card__title {
  width: 100%;
  padding: 15px 0;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card__content {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 0 20px;
}

.card__image {
  width: 100%;
  margin: 20px auto;
}

.options {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 100%;
}

.card__button {
  flex: 0 0 40%;
  margin: 10px 5%;
  height: 30px;
  background-color: transparent;
  font-size: 1.4rem;
  border: 1px solid #aaa;
  border-radius: 3px;
  transition: background-color .3s, border-color .3s, color .3s;
}

.card__button:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

/* modal */

.modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color .2s ease-in;
}

.modal__window {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transform: translateY(-100%);
  transition: transform .2s ease-in;
}

.modal__header,
.modal__main {
  padding: 15px;
  text-align: justify;
}

/* modal header */

.modal__header {
  position: relative;
  border-bottom: 1px solid #dedede;
}

.modal__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.modal__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

/* modal main */

.modal__main {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* modal footer */

.modal__footer {
  padding: 10px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #dedede;
}

.button {
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: transparent;
  margin: 0 20px;
  font-size: 1.4rem;
  padding: 5px 15px;
}

/* js styles */

.modal__window,
.modal__overlay {
  opacity: 0;
  z-index: -1;
}

.modal.open .modal__window,
.modal.open .modal__overlay {
  opacity: 1;
  z-index: 420;
}

.modal.open .modal__window {
  transform: translateY(100px);
}

.modal.open .modal__overlay {
  background-color: rgba(0, 0, 0, .5);
}

.modal.closing .modal__window,
.modal.closing .modal__overlay {
  opacity: 1;
  z-index: 420;
}

.modal.closing .modal__window {
  transform: translateY(-100%);
}

.modal.closing .modal__overlay {
  background-color: rgba(0, 0, 0, 0);
}